version: '3'

services:
  tinkoff-invest-robot-sandbox-2:
    image: 'romanew/invest:sandbox-2-latest'
    container_name: tinkoff-invest-robot-sandbox-2
    network_mode: host
    environment:
      - server.port=10004
      - spring.datasource.url=jdbc:postgresql://127.0.0.1:5432/invest-sandbox-2
      - spring.datasource.username=${POSTGRES_USER}
      - spring.datasource.password=${POSTGRES_PASSWORD}
      - candle.listener.enabled=true
      - tinkoff.emulator=false
      - tinkoff.is-token-sandbox=true
      - tinkoff.token=${TINKOFF_TOKEN_SANDBOX}
      - tinkoff.account-id=e88d1a79-3702-4eaf-b66d-98bd36db0338
#      - telegram.bot.token=${TELEGRAM_BOT_TOKEN}
#      - telegram.bot.chat-id=${TELEGRAM_BOT_CHAT_ID}
    restart: always
    deploy:
      resources:
        limits:
          memory: 512M