<!DOCTYPE html>
<head th:fragment="head">
    <title>Tinkoff Invest Robot</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/2.0.3/css/dataTables.bootstrap5.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.bootstrap5.js"></script>
    <link rel="icon" href="/favicon.ico">
</head>
<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <div class="container">
            <a class="navbar-brand" href="#">Tinkoff Invest Robot</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbar" class="collapse navbar-collapse justify-content-end">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${reportStrategiesInfo != null} ? active"
                           href="/strategies">Стратегии</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${orders != null} ? active" href="/orders">Операции</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${reportInstrumentByInstrument != null} ? active"
                           href="/instrument_by_instrument">Инструмент за инструмент</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${reportInstrumentByFiat != null} ? active"
                           href="/instrument_by_fiat">Инструмент за фиат</a>
                    </li>
                </ul>
                <div class="nav-item">
                    <a class="text-decoration-none" href="https://github.com/roman-struchev/tinkoff-invest"
                       target="_blank">GitHub</a>
                </div>
            </div>
        </div>
    </nav>
</header>
</body>