<!DOCTYPE html>
<head th:replace="~{fragments/general.html :: head}"/>
<body>
<header th:replace="~{fragments/general.html :: header}"/>
<div class="container mt-3">
    <p>Отчет по стратегиям `Инструмент за фиат` (покупка / продажа по критериям)</p>
    <p class="small">Прибыть рассчитывается с учетом комиссий</p>
    <table class="table table-bordered table-striped table-sm small">
        <thead>
        <tr>
            <th>Title</th>
            <th>Strategy</th>
            <th>Profit by robot, %</th>
            <th>Profit by invest, %</th>
            <th>Orders</th>
            <th>First price</th>
            <th>Last price</th>
        </tr>
        </thead>
        <tbody id="instr-vs-fiat-table">
        <tr th:each="r: ${reportInstrumentByFiat}" th:classappend="${!r.strategyIsEnabled} ? text-secondary">
            <td th:text="${r.figiTitle}"/>
            <td th:text="${r.strategyName + (r.strategyIsEnabled ? '' : ' (disabled)')}"/>
            <td th:classappend="${r.profitByRobot >= r.profitByInvest} ? text-success" th:text="${#numbers.formatDecimal(r.profitByRobot, 1, 2, 'DEFAULT')}"/>
            <td th:text="${#numbers.formatDecimal(r.profitByInvest, 1, 2, 'DEFAULT')}"/>
            <td th:text="${r.orders}"/>
            <td th:text="${#numbers.formatDecimal(r.firstPrice, 1, 2, 'DEFAULT')}"/>
            <td th:text="${#numbers.formatDecimal(r.lastPrice, 1, 2, 'DEFAULT')}"/>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
